.home {
    height: 90vh;
}

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container {
    border: solid red 1px;
}

.container-name {
    font-size: 20rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: "Bebas Neue";
    text-shadow: var(--text-shadow);
}

.container-text {
    color: var(--secondary-color);
}

.container-job {
    text-shadow: var(--text-shadow);
    font-size: 2rem;
    letter-spacing: .2rem;
}

.home-callButton {
    border: solid white 1px;
    text-align: center;
    padding: 1rem .5rem;
    transition: all 1s ease-in-out;
    width: 6rem;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    margin-top: 3rem;
}

.home-callButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.selfie {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    position: fixed;
    right: 15%;
    bottom: 15%;
}
