.home {
    height: 100vh;
    width: 100vw;
    /* background-position: center;
    background-image: url("../images/pexels-felipe-ribeiro-2271683.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(1, 36, 0) 0%, rgb(187, 20, 65) 35%, rgba(0,212,255,1) 100%);

}

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container-name {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-family: "Rajdhani";
    text-shadow: var(--subtle-text);
    font-weight: 400;
    
}

.container-text {
    color: var(--secondary-color);
}

.container-job {
    text-shadow: var(--text-shadow);
    font-size: 2rem;
    letter-spacing: .2rem;
}

.home-callButton {
    border: solid white 1px;
    text-align: center;
    padding: 1rem .5rem;
    transition: all 1s ease-in-out;
    width: 6rem;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    margin-top: 3rem;
}

.home-callButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.selfie {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    position: fixed;
    right: 15%;
    bottom: 15%;
}

.link-button {
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 400px) {
    .container-name {
        font-size: 4rem;
        text-align: center;
    }

    .container-job {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .container-name {
        font-size: 5rem;
    }

}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .container-name {
        font-size: 7rem;
    }
}