:root {
  --primary-color: #f5ebe0;
  --secondary-color: #ffffff;
  --alt-color: #C320D3;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --text-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', serif;
  background-attachment: fixed;
  background-image: url("./images/image1.jpg");
}