:root {
  --primary-color: #f5ebe0;
  --secondary-color: #ffffff;
  --alt-color: #00be7f;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --text-shadow:  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
  --subtle-text: 2px 7px 5px rgba(0,0,0,0.3), 
  0px -4px 10px rgba(255,255,255,0.3);

  --about-textbg: #E5ECE9;
  --about-mainbg: #D6D1CD;
  --about-border: solid 10px #969A97;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', serif;
  background-position: center;
  background-image: url("./images/pexels-felipe-ribeiro-2271683.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


